<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilbud - Rediger pris</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <div class="konto">Fog Konto</div>
</div>
<div class="offer-page">

    <div class="offer-left">
        <h3>Kundeinformation</h3>
        <p th:text="'Navn: '+ ${session.user.getName()}">
        </p>
        <p th:text="'Email: '+ ${session.user.getEmail()}">
        </p>
        <p th:text="'Tlf: '+ ${session.user.getPhoneNumber()}">
        </p>
        <p th:text="'Adresse: '+ ${session.user.getAddress()}">
        </p>

        <h3>Ordreoplysninger</h3>
        <p th:text="'Order id: '+ ${session.order.getOrderId()}">
        </p>
        <p th:text="'længde: '+ ${session.order.getLength()}">
        </p>
        <p th:text="'Bredde: '+ ${session.order.getWidth()}">
        </p>
        <p th:text="'Højde: '+ ${session.order.getHeight()}">
        </p>

        <p>Skur: Med skur</p>
        <p>Materiale: Trykimprægneret</p>

        <h3>Beregnede pris</h3>
        <div class="price-display">24.234,7 kr</div>

        <h3>Beregn ny pris:</h3>
        <form method="post" action="/sendTilbud">
            <input type="text" id="newPrice" name="newPrice" placeholder="Skriv ny pris her">
            <div class="send-offer">
                <button type="submit">Send tilbud</button>

            </div>
        </form>
    </div>

    <div class="offer-right">
        <div class="drawing-box">
            <img src="https://via.placeholder.com/400x200?text=Tegning+af+Carport" alt="Carport tegning">
        </div>
        <div class="calculation-box">
            <p>Afslag: 2.000 kr</p>
            <p>Beregninger i forhold til pris</p>
        </div>
    </div>

</div>

</body>
</html>
