<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog Login</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <div class="konto">Fog Konto</div>
</div>


<div class="login-choice-container">
    <form method="get">
        <div class="login-box">
            <button formaction="/login" type="submit">Login</button>
            <button formaction="/createUser" type="submit">Opret bruger</button>
        </div>
    </form>
</div>


</body>
</html>

