<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog Konto</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">


    <a href="/index">
        <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    </a>

    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <form method="get" action="/createUserOrLogin">
        <button type="submit" class="konto-link">Fog konto</button>
    </form>
</div>




<div class="login">
    <div class="form-container">
        <form method="post" action="/createUser">
            <div>
                <input class="button" type="name" name="name" placeholder="Navn:" required />
            </div>
            <div>
                <input class="button" type="email" name="email" placeholder="Email:" required />
            </div>
            <div>
                <input class="button" type="phoneNumber" name="phoneNumber" placeholder="Telefon nr.:" required />
            </div>
            <div>
                <input class="button" type="address" name="address" placeholder="Adresse:" required />
            </div>
            <div>
                <input class="button" type="password" name="password1" placeholder="Indtast kodeord:" required />
            </div>
            <div>
                <input class="button" type="password" name="password2" placeholder="Gentag kodeord:" required />
            </div>

            <div class="error-text" th:if="${error}">
                <p th:text="${error}"></p>
            </div>

            <div class="buttons">
                <button formmethod=get formaction="/login" type="submit">Login</button>
                <button formaction="/createUser" type="submit">Opret bruger</button>
            </div>


        </form>

    </div>
</div>



</body>
</html>>