<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Din forespørgsel</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">


    <a href="/index">
        <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    </a>

    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <form method="get" action="/createUserOrLogin">
        <button type="submit" class="konto-link">Fog konto</button>
    </form>
</div>

<div class="nav-steps">
    <div>Design</div>
    <div>→</div>
    <div>Login</div>
    <div>→</div>
    <div class="grøn">Forespørgsel er sendt</div>
</div>

<div class="request-status-container">
<div th:each="order : ${orders}" class="request-status-container">
    <div class="request-header">
        <h2>Din forespørgsel: ordreid #<span th:text="${order.orderid}"></span></h2>
        <div class="status">
            <span>Status:</span>
            <span class="status-value" th:text="${order.orderstatus}"></span>
        </div>
    </div>

    <div class="request-body">
        <p><strong>Email:</strong> <span th:text="${order.user.email}"></span></p>
        <p><strong>Dato for indsendte forespørgsel:</strong> <span th:text="${order.date}"></span></p>
        <p><strong>Længde af carport:</strong> <span th:text="${order.length} + ' cm'"></span></p>
        <p><strong>Bredde af carport:</strong> <span th:text="${order.width}+ ' cm'"></span></p>
        <p><strong>Højde for carport:</strong> <span th:text="${order.height}+ ' cm'"></span></p>
        <p><strong>Pris for samlet tilbud: </strong><span th:if="${order.orderstatus == 'Tilbud sendt' or order.orderstatus == 'Betalt'}" th:text="${order.orderprice} +',00 kr'"></span></p>

        <div class="next-button" th:if="${order.orderstatus == 'Tilbud sendt'}">
            <form method="post" action="/viewFinalOrder">
            <input type="hidden" name="orderid" th:value="${order.orderid}">
        <button formaction="/viewFinalOrder">Acceptér tilbud</button></form>

            <form method="post" action="/rejectOrder">
            <input type="hidden" name="orderid" th:value="${order.orderid}">
                <button formaction="/rejectOrder">Afvis tilbud</button></form>
        </div>


        <div class="next-button" th:if="${order.orderstatus == 'Betalt' and order.payed}">
            <form method="post" action="/showFinalOrder">
                <input type="hidden" name="orderid" th:value="${order.orderid}">
                <button formaction="/showFinalOrder">Se stykliste</button></form>
        </div>


    </div>
</div>




</body>
</html>
