<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Design</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <a href="/index">
        <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    </a>
    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <form method="get" action="/createUserOrLogin">
        <button type="submit" class="konto-link">Fog konto</button>
    </form>
</div>

<div class="nav-steps">
    <div>Design</div>
    <div>→</div>
    <div>Login</div>
    <div>→</div>
    <div>Forespørgsel</div>
</div>
<div class="error-text" th:if="${error}">
    <p th:text="${error}"></p>
</div>
<form method="post">
    <div class="designer-container">
        <div class="options">
            <select name="shed">
                <option disabled selected>Med/uden skur</option>
                <option>Med skur</option>
                <option>Uden skur</option>
            </select>

            <select name="plastic-roof">
                <option disabled selected>Med/uden trapeztag</option>
                <option>Med tag</option>
                <option>Uden tag</option>
            </select>

            <select id="length" name="length">
                <option disabled selected>Længde i cm</option>
                <option th:each="length : ${session.lengthOptions}"
                        th:value="${length}"
                        th:text="${length +' cm'}">
                </option>
            </select>


            <select id="height" name="height">
                <option disabled selected>Højde i cm</option>
                <option th:each="height : ${session.heightOptions}"
                        th:value="${height}"
                        th:text="${height +' cm'}">
                </option>
            </select>

            <select id="width" name="width">
                <option disabled selected>Bredde i cm</option>
                <option th:each="width : ${session.widthOptions}"
                        th:value="${width}"
                        th:text="${width +' cm'}">
                </option>
            </select>


            <select name="craftsmen">
                <option disabled selected>Bestilling af håndværkere til montering</option>
                <option>Ja</option>
                <option>Nej</option>
            </select>
        </div>

        <div class="drawing">
            <p>SVG tegning </p>
        </div>

        <div class="info-text">
            <p>Brødtekst er længere, løbende tekst. Før i tiden blev typografernes løn beregnet ud fra antallet af
                linjer de
                havde sat. Brødteksten var hurtig at sætte og det var hovedsageligt det som gav sætteren penge til det
                daglige brød.</p>
        </div>
    </div>


    <div class="next-button">
        <button class="button" formaction="/carportRequest" type="submit">Videre</button>
        <!-- TIL OpretBrugerEllerLogin.html -->
    </div>

</form>
</body>
</html>

