<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Siden blev ikke fundet</title>
  <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">


  <a href="/index">
    <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
  </a>

  <div class="search-bar">
    <input type="text" placeholder="Søg på produkter eller kategorier">
  </div>
  <div class="konto">Fog Konto</div>
</div>

<div class="error-page">
  <h1>404</h1>
  <p class="error-text">Siden blev ikke fundet</p>

  <div class="back-button">
    <a href="/" class="button">Tilbage til Fog</a>
  </div>
</div>

</body>
</html>
