<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog Carporte</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <form method="get" action="/createUserOrLogin">
        <button type="submit" class="konto-link">Fog konto</button>
    </form>

</div>

<div class="content">
    <div class="box standard">
        <p>Er du interreseret i din helt egen carport, tag et kig på vores store udvalg at forskellige carporte og find din drømmecarport </p>
        <p>Klid nedenfor og så hjælper vi dig med at finde din ønsekde carport.</p>
        <a href="https://www.johannesfog.dk/soegning?q=carport" class="button-link">Standard carporte</a>

        <img src="../public/images/carport.jpeg" th:src="@{/images/carport.jpeg}" height="183" width="275"/>

    </div>

    <div class="box build-yourself">
        <form method="get" action="/customMadeSite">
            <img src="../public/images/bygSelvCarport.jpeg" th:src="@{/images/bygSelvCarport.jpeg}" height="183" width="275"/>
            <p>Her kan du ud fra eget ønske og egne mål selv designe din drømme carport bare ved hjælp af få klik.</p>
            <p>din forespørgsel vil blive sendt til vores dygtige sælgere som derfra vil lav et skræddersyet tilbud til dig og dine behov</p>
            <button class="button-link" formaction="/customMadeSite" type="submit">Byg selv carport</button>   <!-- TIL CUSTOMMADESIDE -->
    </div>
</div>

<div class="footer">
    Om os


</div>
<div class="mega-footer">
    <div class="footer-column">
        <h3>Kundeservice</h3>
        <ul>
            <li><a href="https://www.johannesfog.dk/om-fog/forretninger/kontakt" style="color: black; text-decoration: none;">Kontakt Fog</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/ofte-stillede-spoergsmaal" style="color: black; text-decoration: none;">Ofte stillede spørgsmål</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/koebs-og-leveringsvilkaar-online" style="color: black; text-decoration: none;">Købs- og leveringsvilkår online</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/fortrydelse-og-returnering" style="color: black; text-decoration: none;">Fortrydelse og returnering</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/reklamation-og-klage" style="color: black; text-decoration: none;">Reklamation og klage</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/fragt" style="color: black; text-decoration: none;">Fragt</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/prismatch" style="color: black; text-decoration: none;">Prismatch</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/service/laan-en-trailer" style="color: black; text-decoration: none;">Lån en trailer</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/service/udlejning" style="color: black; text-decoration: none;">Udlejning</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/fog-konto/bliv-kontokunde" style="color: black; text-decoration: none;">Bliv kontokunde</a></li>

        </ul>
    </div>
    <div class="footer-column">
        <h3>Aktuelt</h3>
        <ul>
            <li><a href="https://www.johannesfog.dk/brands" style="color: black; text-decoration: none;">Mærker</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/aktuelt/aviser-og-kataloger" style="color: black; text-decoration: none;">Avser og kataloger</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/nyhedsbrev" style="color: black; text-decoration: none;">Tilmeld nyhedsbrev</a></li>

            <li><a href="https://www.johannesfog.dk/inspiration" style="color: black; text-decoration: none;">Inspiration &amp; guides</a></li>

            <li><a href="https://www.linkedin.com/company/johannes-fog-as" style="color: black; text-decoration: none;">LinkedIn</a></li>

            <li><a href="https://www.instagram.com/fogboligdesign/" style="color: black; text-decoration: none;">Instagram</a></li>

            <li><a href="https://www.facebook.com/boligdesignhus" style="color: black; text-decoration: none;">Facebook</a></li>

        </ul>
    </div>
    <div class="footer-column">
        <h3>Om Fog</h3>
        <ul>
            <li><a href="https://www.johannesfog.dk/om-fog/forretninger" style="color: black; text-decoration: none;">Åbningstider</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog" style="color: black; text-decoration: none;">Om Fog</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/fogs-fond" style="color: black; text-decoration: none;">Fogs Fond</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/job-i-fog" style="color: black; text-decoration: none;">Karriere i Fog</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/kundeservice/fog-konto" style="color: black; text-decoration: none;">Bliv kontokunde i Fog</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/betingelser-og-vilkaar/persondatapolitik" style="color: black; text-decoration: none;">Persondatapolitik</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/betingelser-og-vilkaar/cookies" style="color: black; text-decoration: none;">Cookies</a></li>

        </ul>
    </div>
    <div class="footer-column">
        <h3>Med omtanke</h3>
        <ul>
            <li><a href="https://www.johannesfog.dk/om-fog/csr" style="color: black; text-decoration: none;">CSR-rapporter</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/certificering" style="color: black; text-decoration: none;">Certificering</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/whistleblowerordning" style="color: black; text-decoration: none;">Whistleblowerordning</a></li>

            <li><a href="https://www.johannesfog.dk/om-fog/whistleblowerpolitik" style="color: black; text-decoration: none;">Whistleblowerpolitik</a></li>

        </ul>
    </div>
    <div class="footer-column company-info">
        <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>

        <p><strong>Johannes Fog A/S</strong><br>Firskovvej 20<br>2800 Lyngby<br>CVR-nr. 16314439</p>
    </div>
</div>

</body>
</html>

