<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Din valgte carport</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <img src="../../../../target/Fog.jpeg" height="70" width="70"/>
    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <div class="konto">Fog Konto</div>
</div>

<div class="carport-overview">
    <h1>Din valgte carport</h1>

    <div class="carport-image">
        <img src="https://via.placeholder.com/500x300?text=Din+Carport+Tegning" alt="Carport tegning">
    </div>

    <div class="carport-info">
        <p th:text="'Din valgte længde er '+ ${session.length} +' cm'"></p>
        <p th:text="'Din valgte højde er '+ ${session.height} +' cm'"></p>
        <p th:text="'Din valgte bredde er '+ ${session.width} +' cm'"></p>
        <p><span th:if="${session.shed}"}>Du har valgt med skur </span></p>
        <p><span th:if="${session.craftsmen}"}>Du har valgt med montering af håndværkere, som vi bestiller</span></p>
    </div>

    <div class="carport-price">
        <p>24.000 kr</p>
    </div>

    <div class="next-button">
        <button>Videre</button>
    </div>
</div>

</body>
</html>
