<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dit tilbud fra Fog</title>
    <link href="../public/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">


    <a href="/index">
        <img src="../public/images/FogLogo.jpeg" th:src="@{/images/FogLogo.jpeg}" height="70" width="70"/>
    </a>

    <div class="search-bar">
        <input type="text" placeholder="Søg på produkter eller kategorier">
    </div>
    <form method="get" action="/createUserOrLogin">
        <button type="submit" class="konto-link">Fog konto</button>
    </form>
</div>


<div class="offer-summary">

    <h1>Din valgte carport</h1>

    <div class="offer-top">
        <div class="offer-image">
            <div th:utext="${svg}"></div>
        </div>
        <div class="offer-description">
            <a href="https://dat2cph.github.io/spring2025/projects/carport/docs/CP01DURvejledning2016.pdf" target="_blank">
                Se materialeliste og vejledning.
            </a>
        </div>
    </div>

    <h3>Materialeliste (stk liste)</h3>
    <div class="material-list">
    <div>
        <table class="styled-table">
            <thead>
            <tr>
                <th>Varenummer</th>
                <th>Vare</th>
                <th>Antal af enheder</th>
                <th>Pris per enhed</th>
                <th>Enhed</th>
                <th>Monteringsbeskrivelse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderdetail : ${order.orderdetails}">
                <td th:text="${orderdetail.product.productid}"></td>
                <td th:text="${orderdetail.product.material.description}"></td>
                <td th:text="${orderdetail.quantity}"></td>
                <td th:text="${orderdetail.totalprice}+',00 kr'"></td>
                <td th:text="${orderdetail.product.material.unit}"></td>
                <td th:text="${orderdetail.assemblydescription}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

    <h3>Vejledning / Konstruktion</h3>
    <div class="instruction">
        <p>Se tegningen for mål og placering af stolper og spær. Sørg for at alle stolper er fastgjort i frostfri dybde. Monter spærene som vist og afslut med tagbrædder og tagpap.</p>
    </div>

    <div class="material-list">

        <p><strong>Ved spørgsmål eller problemer:</strong> kontakt en eller anden via mail xxx eller tlf xxx</p>
    </div>

</div>

</body>
</html>

